.GeneratePassword
  align-items: center
  background: #242E42
  display: flex
  height: 100vh
  justify-content: center

  .GeneratePasswordWrapper
    background: #161E2E
    border-radius: 10px
    padding: 30px
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)

    h1
      color: #f9f9f9
      font-size: 46px
      font-weight: 400
      margin-bottom: 25px
      text-align: center

    h3
      color: rgba(#f9f9f9, 0.6)
      font-size: 18px
      font-weight: 400
      margin-bottom: 10px
      text-transform: uppercase

      span
        color: #f9f9f9

    .SettingsWrapper,
    .RangeWrapper,
    .PasswordList
      align-items: center
      background: #1E2738
      border-radius: 10px
      color: rgb(#f9f9f9, .7)
      display: flex
      font-size: 20px
      height: 70px
      justify-content: space-between
      margin-bottom: 20px
      padding: 20px

    .PasswordList
      font-family: 'Roboto Mono', monospace
      margin-bottom: 25px

    .RangeWrapper
      gap: 10px
      margin-bottom: 25px

      input
        width: 430px

      input[type=range]::-webkit-slider-runnable-track
        height: 5px
        background-color: rgba(#6f7787, 0.4)

      input[type=range]::-webkit-slider-thumb
        cursor: pointer
        margin-top: -5px

      span
        color: #f9f9f9


    .GenerateButton
      background: linear-gradient(90deg, rgba(100, 94, 232, 1) 0%, rgba(145, 109, 175, 1) 100%)
      border: none
      border-radius: 10px
      color: #f9f9f9
      cursor: pointer
      font-size: 18px
      font-weight: 700
      height: 55px
      margin-top: 20px
      padding: 15px
      text-transform: uppercase
      transition: all 0.1s ease-in
      width: 100%

      &:hover
        color: rgb(#f9f9f9, .8)

    .PasswordList
      background: #20293C
      color: white
      display: flex
      font-size: 18px
      justify-content: center
      padding: 25px 20px
      height: auto

      &__item
        font-size: 24px
        list-style-type: none

        &.NumberColor
          color: #67beff

        &.SymbolColor
          color: #ff9090

    .SettingsWrapper
      .Switch
        display: inline-block
        height: 30px
        position: relative
        width: 55px

        .Checkbox
          display: none

        .Slider
          background-color: #6f7787
          border-radius: 16px
          bottom: 0
          cursor: pointer
          left: 0
          position: absolute
          right: 0
          top: 0
          transition: .4s

          &:before
            background-color: white
            border-radius: 50%
            bottom: 3px
            content: ""
            height: 24px
            left: 3px
            position: absolute
            transition: 0.4s
            width: 24px

        input:checked + .Slider
          background-color: #645ee8

        input:checked + .Slider:before
          transform: translateX(25px)
